#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layers

#define MAC 4
#define MAC_CODE 5
#define MAC_NUM 6
#define MAC_FUNC 7
#define WIN 0
#define WIN_CODE 1
#define WIN_NUM 2
#define WIN_FUNC 3

// Behavior Overrides

&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
};

/ {
    //combos {
    //  compatible = "zmk,combos";
    //combo_tab {
    //  timeout-ms = <20>;
    //  key-positions = <1 2>;
    //  bindings = <&kp TAB>;
    //};
    //  combo_enter {
    //    timeout-ms = <20>;
    //  key-positions = <13 14>;
    //bindings = <&kp ENTER>;
    //};
    //};

    macros {
        spotlight: spotlight {
            label = "spotlight";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LGUI>;
        };

        // Emoji

        mac_emoji: mac_emoji {
            label = "mac_emoji";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_release>,
                <&kp LGUI>;
        };

        win_emoji: win_emoji {
            label = "win_emoji";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp DOT>,
                <&macro_release>,
                <&kp LGUI>;
        };
    };

    behaviors {
        td_multi_mac: tap_dance_multi_mac {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MULTI_MAC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&spotlight>, <&mac_emoji>;
        };

        td_multi_windows: tap_dance_multi_windows {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MULTI_WINDOWS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&kp LGUI>, <&win_emoji>;
        };

        bm: bottom_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BOTTOM_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        cm: code_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "CODE_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            retro-tap;
        };

        sm: space_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_MOD";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        rubas_base_layer {
            bindings = <
&none  &kp Q             &kp W    &kp D    &kp R           &kp F                         &kp J                         &kp Y            &kp U            &kp P                &mt MINUS QUESTION  &none
&none  &mt LEFT_SHIFT A  &mt S S  &mt E E  &mt LEFT_GUI T  &kp G                         &kp H                         &mt RIGHT_GUI I  &mt RIGHT_ALT N  &mt RIGHT_CONTROL L  &mt RIGHT_SHIFT O   &none
&none  &lt 3 Z           &kp X    &kp C    &kp V           &mt LEFT_PARENTHESIS COMMA    &mt RIGHT_PARENTHESIS PERIOD  &kp B            &kp M            &kp K                &lt 3 SEMICOLON     &none
                                  &to 0    &lt 1 SPACE     &lt 2 TAB                     &lt 2 ENTER                   &lt 1 BACKSPACE  &to 4
            >;
        };

        navigation {
            bindings = <
&none  &none           &none  &kp PLUS  &kp EQUAL  &none       &kp GRAVE  &kp HOME     &kp UP_ARROW      &kp END        &none  &none
&none  &kp LBRC        &none  &none     &kp RBRC   &kp PIPE    &kp ESC    &kp LEFT     &kp DOWN_ARROW    &kp RIGHT      &none  &none
&none  &cm LSHFT LBKT  &none  &none     &kp RBKT   &none       &kp TILDE  &kp PAGE_UP  &kp C_PLAY_PAUSE  &kp PAGE_DOWN  &none  &none
                              &trans    &trans     &trans      &trans     &trans       &trans
            >;
        };

        symbols_and_numbers {
            bindings = <
&none  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS     &none
&none  &kp N1    &kp N2  &kp N3    &kp N4    &kp N5       &kp N6         &kp N7        &kp N8                &kp N9                 &kp N0        &none
&none  &none     &none   &none     &none     &none        &kp CARET      &none         &none                 &none                  &kp QUESTION  &none
                         &trans    &trans    &trans       &trans         &trans        &trans
            >;
        };

        adjustments {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none    &none        &none          &none       &to 0        &none
&none  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6   &kp F7       &kp F8         &kp F9      &kp F10      &none
&none  &bootloader   &sys_reset    &bt BT_CLR    &bootloader   &kp F11         &kp F12  &bootloader  &none          &sys_reset  &bootloader  &none
                                   &none         &none         &none           &none    &none        &td_multi_mac
            >;
        };

        Ayesha_base_layer {
            bindings = <
&none  &kp Q             &kp W  &kp E             &kp R               &kp T               &kp Y        &kp U            &kp I         &kp O  &kp P                     &none
&none  &kp A             &kp S  &kp D             &kp F               &kp G               &kp H        &kp J            &kp K         &kp L  &kp SQT                   &none
&none  &mt LEFT_SHIFT Z  &kp X  &kp C             &kp V               &kp COMMA           &kp DOT      &kp B            &kp N         &kp M  &mt LEFT_SHIFT SEMICOLON  &none
                                &kp LEFT_CONTROL  &mt LEFT_ALT SPACE  &mt LEFT_GUI TAB    &lt 2 ENTER  &lt 1 BACKSPACE  &lt 0 DELETE
            >;
        };
    };
};
